<%= form_for(fighter) do |f| %>
  <% if fighter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fighter.errors.count, "error") %> prohibited this fighter from being saved:</h2>

      <ul>
      <% fighter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Carefull, you can only assign 15 skills points for life, attack, dodge and critical fields</p>

  <div class="field m-t-5">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Enter Fighter's Name", class: "form-control" %>
  </div>

  <div class="field m-t-5">
    <%= f.label :life %>
    <%= f.number_field :life, max: 10, min: 0, placeholder: 0, class: "form-control" %>
  </div>

  <div class="field m-t-5">
    <%= f.label :attack %>
    <%= f.number_field :attack, max: 10, min: 0, placeholder: 0, class: "form-control" %>
  </div>

  <div class="field m-t-5">
    <%= f.label :dodge %>
    <%= f.number_field :dodge, max: 10, min: 0, placeholder: 0, class: "form-control" %>
  </div>

  <div class="field m-t-5">
    <%= f.label :critical %>
    <%= f.number_field :critical, max: 10, min: 0, placeholder: 0, class: "form-control" %>
  </div>

  <div class="field m-t-5">
    <%= f.label :bio %>
    <%= f.text_area :bio, placeholder: "Write about this fighter's life and accomplishments", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit 'And a Fighter is Born!', class: "btn btn-primary m-t-15" %>
  </div>
<% end %>
