<p id="notice"><%= notice %></p>

<h1>Fights</h1>

<table>
  <thead>
    <tr>
      <th>Winner</th>
      <th>Looser</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fights.each do |fight| %>
      <tr>
        <td><%= fight.winner_id %></td>
        <td><%= fight.looser_id %></td>
        <td><%= link_to 'Show', fight %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fight', new_fight_path %>
