<p id="notice"><%= notice %></p>

<h1>Fights</h1>

<table class="table">
  <thead>
    <tr>
      <th>First Fighter</th>
      <th>Second Fighter</th>
      <th>Winner</th>
      <th>Looser</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @fights.each do |f| %>
      <tr>
        <td><%= Fighter.find(f.fighter_one_id).name %></td>
        <td><%= Fighter.find(f.fighter_two_id).name %></td>
        <td><%= Fighter.find(f.winner_id).name %></td>
        <td><%= Fighter.find(f.looser_id).name %></td>
        <td>
          <%= link_to f do %>
            <i class="zmdi zmdi-eye"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fight', new_fight_path %>
