<!DOCTYPE html>
<html>
  <head>
    <title>CaptainCombat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'base' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container m-t-25">
      <%= yield %>
    </div>
  </body>
</html>
